*{
  padding: 0;
  margin: 0;
}
.f{
  font-family: 'Arimo';

}
.head{
  font-family: 'Arial Rounded MT';
  font-size: 200%;
  color: white;
  padding-top: 3px;
}
.ltd{
  font-size: 100%;
  font-family: 'Arial Rounded MT';
}
body{
  background-color: #b3e5fc;
  background-position: center;
  overflow: hidden;
}
table{
  /*height: 45%;*/
  width: 100%;
  /*border-color: none;*/
  border-radius: 7px;
}
td{
  padding:5px;
}
.btn{
  background-color: #81d4fa;
  border-radius: 3px;
  height:34px;
  width: 10%;
  border-style: hidden;
}
.imgbtn{
  background-color: #e1f5fe;
  border: 1px solid #ccc;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
.inpt{
  border-style: hidden;
  height:34px;
  border-radius: 3px;
  border-color: #0091ea;
  width: 15%;
}
.inpttxt{
  background-color: #81d4fa;
  border-radius: 3px;
  height:34px;
  width: 15%;
  border-style: hidden;
}
.txtarea{
  background-color: #e1f5fe;
  border-radius: 3px;
 /* height:34px;
  width: 50%;*/
  border-style: hidden;
}
.tdiv{

height: 10%;

}
.mdiv{

height: 80%;

}
.bdiv{

height: 10%;

}
.bar{
  background-color: #0288d1;
  color: #01579b;
}
.hborder{
  background-color: #29b6f6;
  height: 2px;
  width: 100%;
}
.already p{
    color: #f92212;
    background-color: #f4433647;
    font-size: 15px;
    text-align: center;
    border: hidden;
    border-radius: 3px;
    padding: 4px;
    width: fit-content;
}
.pass_view{
  padding: 4px;
  position: absolute; 
  color: #424242e8;
  cursor: pointer;
}
.pass_view::selection{
  background-color: #f4433600;
}